#customDropdown {
    position: relative;
    width: 100%;
}
#login{
    display: flex;
    justify-content: center;
    align-items: center;
}
#filterInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px; /* Ajuste a altura máxima conforme necessário */
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: auto; /* Adiciona a rolagem vertical */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.option {
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.option:hover {
    background-color: #f1f1f1;
}

#selectedValue {
    display: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 90%;
    max-width: 1200px;
}

.header {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-bottom: 10px;
}

.header h3 {
    margin: 0;
    color: #333;
    font-size: 1.8em;
}

.panel {
    width: 100%;
    padding: 80px;
    padding-top: 0;
}
.header-panel{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-panel input {
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.row-panel {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#line1, #line2, #line3 {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    margin-bottom: 5px;
    margin-top: 0;
    color: #333;
}

label {
    font-size: x-large;
    color: #555;
    margin-right: 20px;
}

#dropdownContainer {
    margin-left: auto;
    position: relative;
    width: 100%;
}

#dropdownContainer input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

#dropdown {
    display: none;
    top: 45px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 5px;
}

#dropdown option {
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

#dropdown option:hover {
    background-color: #f1f1f1;
}

#nomeRecurso {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}
#copy{
    display: none;
}
@media (min-width: 1200px) {
    #line1, #line2, #line3 {
        flex-direction: row;
        align-items: center; /* Centraliza verticalmente */
    }

    h1 {
        margin-bottom: 0;
        margin-right: 10px;
    }

    label {
        margin-left: 10px;
        margin-bottom: 0; /* Remove margem inferior no label */
    }

    #dropdownContainer {
        width: 40%;
    }
    body{
        height: 100vh;
    }
    #copy{
        font-size: 16px;
        display: block;
    }
}
#qr-reader {
    margin-top: 20px;
    display: none;
    transform: scaleX(1);
        
}
video{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}
#data-login{
    position: absolute;
}
#logout{
    margin-left:auto;
}
@media(max-width: 480px){
    .panel{
        padding: 0;
    }
    label{
        font-size:15px;
    }
    .container{
        margin-top: auto;
    }
    #login{
        flex-direction: column;
        margin-bottom: 0.5px;
    }
    #data-login{
        position: relative;
        font-size: 12px;
    }
    #logout{
        margin-left: 0;
        margin-top: 10px;
        font-size: 10px;
    }
    .row-panel h1{
        font-size: 16px;
    }
    #filterInput{
        font-size: 10px;
        height: 50%;
    }
    #codigoBarra{
        font-size: 14px;
    }
    .header h2{
        font-size: 16px;    
        margin-bottom: 0.5px;
    }
    .container{
        margin-top: 0;
        height: 100%;
        padding-top: 20px;
    }
    #nomeRecurso{
        font-size: 10px;
    }
}
@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	80% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
    100%{
        transform: scale(1);
    }
}
#erro{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#erro-div{
    animation: pulse-red 1s 2;
    display: none;
    position: absolute;
    margin-left: auto;                                                                                                                                                                                          ;
}