body {
    display: flex;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    max-width: 200px;
    background-color: #58af9c;
    border-right: solid 1px rgb(163, 158, 158);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    position: fixed;
    left: -150px;   
    
    transition: left 0.5s ease;
}
#sidebar:hover {
    transition-delay: 30ms;
    left: 0;
}
#sidebar #options,
#sidebar #login {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#sidebar:hover #options,
#sidebar:hover #login {
    opacity: 1;
}
#sidebar:hover .option{
    
}
#conteudo {
    margin: 0;
    margin-left: 50px;
    width: 100%;
    transition: margin-left 0.5s ease;
}
#sidebar:hover + #conteudo {
    transition-delay: 50ms;
    margin-left: 200px; /* Expande o espaço quando a sidebar é visível */
}
iframe {
    width: 100%;
    height: 100vh;
    border: none;
    margin: 0;
}
#options div{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-family: Nunito, sans-serif;
}
#logo{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 1px;
}
a{
    text-decoration: none;
    color: azure;
}
.option:hover, .subOption:hover{
    background-color: rgb(139, 207, 235);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#options {
    border-top: 1px solid rgb(163, 158, 158);
    border-bottom: 1px solid rgb(163, 158, 158);
    height: 100%;
    background-color: #58af86;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
@font-face{
    font-family: Nunito;

    /*Caso a fonte esteja na mesma pasta*/
    src: url("Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}
#data-login{
    color: aliceblue;
    font-size: 15px;
    align-self: center;
    font-family: Nunito;
    margin-top: 12px;
}
#logout{
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    align-self: center;
}
#logout img{
    width: 22px;
    margin: 0;
}
#login{
    display: flex;
    flex-direction: column;
    background-color: #58af86;
    border-bottom-right-radius: 8px;
}
#logout img:hover{
    width: 23px;
    cursor: pointer;
}
#mao{
    width: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: rotate(180deg);
    transition: opacity 0.3s ease;
}
@media (max-width: 720px){
    #sidebar{
        height:100%;
    }
}
.option, .subOption{
    cursor: pointer;
    color: azure;
    height: auto;

    padding: 10px;
}
.subOptions {
    display: none;
    flex-direction: column;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #397524 #58AF86;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #58AF86;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #397524;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
  }
  
#options{
    padding: 20px;
}

@media(max-width: 570px){
    #sidebar{
        left: -100px;
    }
    #data-login{
        font-size: 8px;
    }
    #options{
        padding: 0;
    }
    .option{
       padding: 5px;
       margin: 2px;
    }
    #sidebar:hover + #conteudo {
        transition-delay: 50ms;
        margin-left: 35%
    }
}